<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Saga Store</title>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <header class="navbar"> 
    <nav>
      <a href="/">Inicio</a>
      <a href="/products">Productos</a>
      <a href="/carts/{{cartId}}">🛒 <span class="badge"></span></a>
    </nav>
  </header>
  <body>
    {{{body}}}
    <footer>
      <p>© 2026 Saga Store - Backend Ecommerce</p>
    </footer>
  </body>
</html>